<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <matcher>
                    <Name>credentials</Name>
                    <!-- filter out odd numbered statements -->
                    <regex>Remote URL</regex>
                </matcher>
                <expression>credentials.matches(formattedMessage)</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
        <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
            <Name>CONFIDENTIAL_FILTER</Name>
            <Marker>CONFIDENTIAL</Marker>
            <OnMatch>DENY</OnMatch>
        </turboFilter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="com.base22" level="TRACE"/>


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
